# Configurações MQTT
MQTT_BROKER=localhost
MQTT_PORT=1883
MQTT_TOPIC=smartfarm/sensors

# Configurações InfluxDB
INFLUX_URL=http://localhost:8086
INFLUX_TOKEN=smartfarm-token-12345
INFLUX_ORG=smartfarm
INFLUX_BUCKET=sensors

# Configurações de Logs
LOG_LEVEL=INFO
