# ====== Smart Farm IoT - Example Env ======

# MQTT
MQTT_BROKER=mosquitto
MQTT_PORT=1883
MQTT_USERNAME=iot_user
MQTT_PASSWORD=TroqueEstaSenha!

# InfluxDB
INFLUX_URL=http://influxdb:8086
INFLUX_ORG=smartfarm
INFLUX_BUCKET=sensors
INFLUX_TOKEN=CHANGEME_INFLUX_TOKEN

# Grafana (somente inicial, use usuário/senha no login e troque depois)
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=TroqueEstaSenha!

# API
API_HOST=0.0.0.0
API_PORT=8000
